
#starting-section div
{
  flex-basis: 700px;
}
.starting-flexbox-container
{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.starting-quote-flex-item
{
  flex-basis: 40%;

}
.starting-image-flex-item
{
  flex-basis: 20%;
}
#icon
{
  height: auto;
  width: auto;
  max-width: 25px;
  max-height: 25px;


}

#photo
{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#quote
{
  text-align:left;
  font-size: 40px;
  padding-top: 196px;
  padding-left: 160px;
}
#iam{
  text-align:left;
  font-size: 90px;
  padding-top: 196px;
  padding-left: 160px;
}
#hobbies
{
  text-align: left;
  font-size: 48px;
  padding-left: 160px;
  color: gray;
  font-family: "Open Sans";
}

#about-me-text
{



}


#subtitle
{
    text-align: center;
    font-size: 48px;
    color:black;
    font-family: "Open Sans"

}

.flex-container-about-me
{

  display: flex;
  justify-content: center;
  flex-direction: row;


}

.flex-container
{

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;


}
#paragraph {
    font-size: 24px;


}

a{
  font-size: 20px;


}

hr{
  border: 1px solid;
  width: 75%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}
