
#starting-section div
{
  flex-basis: 700px;
}

.intro-flexbox-container
{

  padding-top: 3%;
  justify-content: center;
  flex-direction:row;
}

.starting-flexbox-container
{
  padding-top: 3%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.starting-quote-flex-item
{
  flex-basis: 35%;
  padding-left: 7%;
}
.starting-image-flex-item
{
  flex-basis: 20%;
}

#icon
{
  height: auto;
  width: auto;
  max-width: 25px;
  max-height: 25px;
}
.background-text
{
  margin: 0 auto;
  color: white;


}
.vertical-center
{
  background-image: url(images/background.jpg) ;
  background-size: cover;
  display: flex;
  width: 100%;
  height:100vh;
  align-items: center;
}
#self_photo
{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#title
{
  font-family: "Times New Roman";
  text-align:center;
  font-size: 40px;
}


#about-me-text
{



}

#contact_icons
{
  width: 50px;
  height: 50px;

}

#subtitle
{
    text-align: center;
    font-size: 48px;
    color: #026C45;
    font-family: "Open Sans"

}

.light-yellow-background
{

  background-color: #FFFFE0	;
}

.flex-container-about-me
{

  display: flex;
  justify-content: center;
  flex-direction: row;

}

.flex-container-contact-icons
{

  display: flex;
  justify-content: space-around;
  flex-direction: row;


}
#paragraph {
    font-size: 24px;
}

a{
  font-size: 20px;


}

.title-sep-line{
  border: 1px solid;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}
