/* Classes */


.experience-flex-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.experience-resume-item
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: left;

}
.experience-flex-left-item
{
  /* Composed of the company name
      Position */
  flex-basis: 35%;
  margin-top: 1.5%;
}

.experience-flex-right-item
{
  /*Composed of the duration/time period
    and description of the position
    */
  margin-top:1.5%;
  flex-basis: 25%

}

.about-me-text-flex-item
{
  /* Flex item style for the text
     inside the about me section
  */
  flex-basis: 35%;
  padding-left: 7%;
}
.personal-photo-flex-item
{
  flex-basis: 20%;
}

.background-text
{
  /* Style for the background text
     of the initial photo on the top
     of the screen */
  margin: 0 auto;
  color: white;
}
.vertical-center
{
  /* style jumbotron at the very top of the page
     with a background photo covering screen initially*/
  background-image: url(images/background.jpg) ;
  background-size: cover;
  display: flex;
  width: 100%;
  height:100vh;
  align-items: center;
}

.light-yellow-background
{
  background-color: #FFFFE0	;
}

.flex-container-about-me
{
  /* style for the flex container of then
     about me section */
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-container-contact-icons
{
  /*style for the flex container containing
    contact icons*/
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.title-sep-line{
  /*style for line separator
    create a solid line every time
    invoked */
  border: 0.5px solid;
  width: 60%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  color: gray;
}

/*IDs*/

#project_items{
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 300px;

}

#self_photo
{
    /*style for photos of myself*/
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#title
{
  font-family: "Times New Roman";
  text-align:center;
  font-size: 40px;
}

#contact_icons
{
  /*style pictures of gmail, github, linkedin*/
  width: 50px;
  height: 50px;

}

#subtitle
{
  /*style for titles such as "experience" and such*/
    text-align: center;
    font-size: 48px;
    color: #026C45;
    font-family: "Open Sans"
}

#icon-document
{
  /*style for document icon (resume download)*/
  height: auto;
  width: auto;
  max-width: 25px;
  max-height: 25px;
}

#paragraph {
    font-size: 20px;
    font-family: "Open Sans"
}

#experience-title
{
  /*Style for titles
    inside the experience section
    such as the company name
  */
  font-size: 24px;
  font-family: "Open Sans"

}


a{
  font-size: 20px;
}
